add-mimic {
  //MOJE

  //segments
  .segment-ios .segment-button.segment-activated {
    color: color($colors, mimic, base);
  }

  .segment-ios .segment-button {
    color: white;
    /*background: color($colors, mimic, base);*/
    border: none;
  }
  //segments

  .split-custom-top {
    border-bottom: 1px solid color($colors, mimic, base);
    background: white;
  }

  .top-slide {
    img {
      max-width: 10rem;
      margin: 0 auto;
    }

    //aligh content to the middle of this div, align horizontal and vertical
    display: flex;
    flex-direction: column;
    justify-content: center;

    //16/9 aspect ratio
    height: slides-height();
    text-align: center;
    background: white;

  }

  //spinner
  .spinner {
    margin: 0 auto; //center horizontal center
  }

  .spinner > div {
    background-color: color($colors, mimic, base);
  }
  //spinner

  //mimic placeholder
  #your-mimic-placeholder {
    height: 100%;
  }

  #mimic-logo {
    display: block;
  }

  .mimic-preview-img-placeholder {
    height: slides-height(); 
    width: 100%;
    text-align: center;
    img.mimic-preview-img { 
      height: slides-height(); 
      width: auto; 
    }
  }
   
  //MOJE

  ion-header {
    @include header-styles(color($colors, mimic, base), WHITE);
  }

  .forms-examples-content {

    .item-ios.item-block .item-inner {
      border-bottom: 0.55px solid white;
    }

    background-color: color($colors, mimic, base);

    .forms-examples-segment {
      padding: 14px 0px;
      background-color: $white;
      @include element-shadow();

      @include segment-button-styles($theme-color-2);

      .segment-button {
        @include segment-text-styles($white-d);
      }
    }

    .sample-form {

      ion-item {
        @include basic-input-style(color($colors, mimic, base), white, white);
        ion-input {
          border-bottom: 1px solid color($colors, mimic, base);
        }

        &.item {
          margin-top: 14px;

          &.item-label-floating {
            margin-top: 0px;

            ion-label {
              color: $white-d;

            }
          }

          .item-inner {
            ion-icon {
              color: $theme-color-2;
            }
          }
        }

        &:first-of-type {
          margin-top: 0px;
        }
      }
    }

    .upload-image-button {
      width: 100%;
      border-radius: 6px;
      color: $white-d;
      height: initial;
      margin: 15px 0px;
      padding-top: 16px;
      padding-bottom: 16px;
      //@include element-shadow();
      contain: style layout;

      color: white;
      background-color: transparent;
      border: 1px solid white;

      .button-inner {
        @include flex-wrap(wrap);

        ion-icon {
          flex: 0 0 100%;
          max-width: 100%;
          font-size: 3.8em;

          border-radius: 10px;
        }

        .button-title {
          flex: 0 0 100%;
          max-width: 100%;
          font-size: 1.4rem;
          color: $white-d;
          font-weight: 400;
          margin: 0px;
        }
      }
    }
  }
}

