@mixin categories-title-style($color) {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 8vw;
  font-weight: 900;
  letter-spacing: 0.4px;
  color: $color;
  margin: 0px;
}

$ratio-width: 16;
$ratio-height: 9;

//VIDEO
$player-controls-height: 40px;
$player-play-icon-height: 6rem;
$playlist-item-font-size: 12px;
$playlist-item-play-icon-height: 3rem;

@mixin play-icon-styles($background, $size, $color) {
  &:before {
    font-family: "Ionicons";
    // As the play arrow ('\f487' in Ionicons font) is a weird shape, we need to use a hack to visually center horizontally.
    // We are going to prepend the 1/6 of em unicode ('\2006'). More info here: (http://www.cs.tut.fi/~jkorpela/chars/spaces.html)
    content: "\2006\f487";
    color: color($colors, mimic, base);
    background: rgba($background, .8);
    font-size: $size - 1;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
    border-radius: 50%;
  }
}

@function top-mimic-info-position()  { 
  $sixteen-nine-percent: ((9 / 16) * 100);
  $left: 100 - $sixteen-nine-percent;
  @return ($left / 4 - 3)+%; //Sanja's formula
}

@function bottom-mimic-info-position()  { 
  $sixteen-nine-percent: ((9 / 16) * 100);
  $left: 100 - $sixteen-nine-percent;
  @return ($left / 4)+%; //Sanja's formula
}

@function slides-height()  {
  @return calc(100vw * 9 / 16);
}

//VIDEO

listing-page {
  $categories-heading-image-height: 150px;
  $categories-grid-padding: 10px;
  $categories-horizontal-list-padding: 10px;

  #split-top, #split-bottom {
    position: relative;
  }

  div.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 20;
  }

  //-----menu-----
  .menu-btn {
    background: #f9c21e;
    box-shadow: 0px 0px 3px 0px black;
  }

  .fab, .fab-ios {
    .button-inner {
      display: flex;
    }

    background-color: color($colors, mimic, base);
    color: white;
  }

  //set flaoting button label
  ion-fab {
      button {
          box-shadow: 0 4px 10px #6b6b6b;
      }

      ion-fab-list button[ion-fab] {
          text-align: center;
          overflow: visible;

          div.label {
            color: black;
            position: absolute;
            right: 48px;
            background: rgba(248, 248, 248, 1);
            height: 24px;
            line-height: 16px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-top: 8px;
            border-radius: 5px;
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
          }
      }
      .fab {
        contain: initial;
      }
      .button-inner {
          overflow: visible;
      }
  }
  //------menu------

  //-----mimic info style-----
  //bottom and up mimic info with hasthags and profile, set it to absolute so you can move it
  .list, .list-ios {
    margin: 0 !important;
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: transparent;

    //background color of mimic info
    ion-app.ios {
      background-color: transparent;
    }

    .item, .item-ios {
      background-color: transparent;
      color: white;

      p {
        color: white;
      }
    }
  }

  //remove border from mimic info
  .list-ios > .item-block:first-child {
    border: none;
  }

  .upvote-button {
    padding-bottom: 3px;
    color: white;
  }
  
  .number-of-upvotes {
    color: white;
  }

  .mimic-info {
    //this is the whole upvote button
    .item-button {
      height: auto;
    }
  }

  //position mimic info to the middle
   #mimic-info-top 
  { 
      .label, .label-ios
      {
          height: 2.7em;
          white-space: inherit;
      }
      top: top-mimic-info-position(); 
  } 
 
  #mimic-info-bottom 
  { 

      bottom: bottom-mimic-info-position(); 
  } 

  //-----mimic info style-----

  //-----upvote button area-----
  .item-ios .item-button {
    height: 30px;
  }

  .button-inner {
    display: block;
  }
  //-----upvote button area-----

  //------SLIDES-------
  //make slide image full width
  .swiper-slide img {
    width: 100%;
  }

  //make our slide only 56.25% of height to retain same height
  .slide-zoom {
    height:  slides-height();
  }

  .top-slides {

    //stick my slide to the bottom of split sreen
    ion-slide {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    //my slide needs to stick to the bottom of split screen, this was getting in my way
    .swiper-slide {
      font-size: 0px;
    }
  }

  .bottom-slides {
    //stik my slide to top of split sreen
    ion-slide {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  //spinner behind the slide
  .spinner-bottom {
    //my code
    z-index: -1;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    //mycode
  }
  
  .spinner-top {
    //my code
    z-index: -1;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    //mycode
  }
  
  .spinner {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
    
  }

  .spinner > div {
    background-color: white;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
  //------SLIDES-------

  //VIDEOS
  //hide native play button
  .IIV::-webkit-media-controls-play-button,
  .IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
  }
  //hide native play button
  video::-webkit-media-controls {
    display: none !important;
  }

  .video-player-container {
    // Most videos come in 16:9 aspect ratio
    // If 16 -> 100% width => 9 -> 56.25% width
    padding-bottom: 56.25%;
    position: relative;
    height: 0px;

    vg-player.video-player {
      font-family: "Ionicons";
      position: absolute;

      video {
        &.expand-horizontally {
          width: 100%;
        }

        &.expand-vertically {
          height: 100%;
        }
      }

      // Player styles
      vg-buffering {
        .vg-buffering {
          .loadingSpinner {
            border-right-color: $theme-color-2;
            border-bottom-color: $theme-color-2;
            box-shadow: none;
          }
        }
      }

      vg-overlay-play {
        .overlay-play-container.vg-icon-play_arrow {
          // &:before {
          // 	font-family: "Ionicons";
          // 	// As the play arrow ('\f487' in Ionicons font) is a weird shape, we need to use a hack to visually center horizontally.
          // 	// We are going to prepend the 1/6 of em unicode ('\2006'). More info here: (http://www.cs.tut.fi/~jkorpela/chars/spaces.html)
          //   content: "\2006\f487";
          //   color: $theme-color-2;
          // 	background: rgba($white, .8);
          // 	font-size: $player-play-icon-height - 1;
          //   width: $player-play-icon-height;
          //   height: $player-play-icon-height;
          // 	line-height: $player-play-icon-height;
          //   text-align: center;
          //   border-radius: 50%;
          // 	// To make the icon vertically centered excluding the controls height
          // 	margin-bottom: $player-controls-height;
          // }

          @include play-icon-styles($white, $player-play-icon-height, $theme-color-2);

          &:before {
            // To make the icon vertically centered excluding the controls height
            margin-bottom: $player-controls-height;
          }
        }
      }

      vg-controls {
        background: rgba(color($colors, mimic, base), 0);
        height: $player-controls-height;

        .controls-row {
          width: 100%;
          height: 100%;

          vg-time-display {
            height: 100%;
            width: 100%;
            line-height: $player-controls-height;
            font-size: 1.2rem;
            font-weight: 500;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
          }

          vg-scrub-bar {
            display: none;
            height: 100%;
            position: absolute;
            margin: 0px;

            vg-scrub-bar-current-time {
              background-color: $black-b;
              height: 3px;

              .background {
                background-color: color($colors, mimic, base);
                border: none;
                z-index: 3;
                position: relative;

                &::after {
                  content: '';
                  position: absolute;
                  top: -8px;
                  right: -10px;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  background: #fff;
                  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.13), 0 0 0 1px rgba(0, 0, 0, 0.02);
                  pointer-events: none;
                }
              }
            }

            vg-scrub-bar-buffering-time {
              height: 3px;

              .background {
                background-color: $white-d;
              }
            }
          }

          ion-col:first-child {
            vg-time-display {
              padding-right: 15%;
            }
          }
          ion-col:last-child {
            vg-time-display {
              padding-left: 15%;
            }
          }
        }
      }
    }
  }
  //VIDEOS

  .listing-header {
    .header-logo {
      width: 34vw;
    }
  }

  .listing-content {
    background-color: color($colors, mimic, base);
    .image-heading {
      height: $categories-heading-image-height;

      .bg-overlay {
        z-index: 1;
        background-color: rgba($black-c, .6);
      }

      ion-spinner {
        z-index: 2;
      }

      @include spinner-color($white);

      .heading-row {
        height: 100%;
        width: 100%;
        z-index: 3;
        position: absolute;
        @include align-items(center);

        .main-title {
          @include categories-title-style($white);
          font-size: 10vw;
        }
      }
    }

    .categories-title {
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: 0.7px;
      color: $white-d;
      margin: 8px 16px 16px;
    }

    .horizontal-categories {
      border-bottom: 10px solid $white-a;
      @include element-shadow();
      padding-bottom: 16px;

      .scroll-content {
        position: relative;
        contain: style layout;
      }

      preload-image {
        border-radius: 50%;

        img {
          border-radius: 50%;
        }
      }

      .categories-row {
        @include flex-wrap(nowrap);

        &::after {
          content: '';
          flex: 0 0 $categories-horizontal-list-padding;
          max-width: $categories-horizontal-list-padding;
        }
      }

      .horizontal-item {
        padding: 0px 0px 0px $categories-horizontal-list-padding;
      }
    }

    .grid-categories {
      padding: 0px ($categories-grid-padding/2);
      @include flex-wrap(wrap);

      .category-item {
        padding: 0px ($categories-grid-padding/2) $categories-grid-padding;

        .category-heading {
          padding-bottom: 100%;

          .bg-overlay {
            z-index: 1;
            background-color: rgba($black-c, .6);
          }

          ion-spinner {
            z-index: 2;
          }

          @include spinner-color($white);

          .heading-row {
            height: 100%;
            width: 100%;
            z-index: 3;
            position: absolute;
            @include align-items(center);

            .category-title {
              @include categories-title-style($white);
            }
          }
        }
      }
    }
  }
}
