<ion-header>
    <ion-navbar>
        <ion-title>{{'PROFILE' | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="profile-content" no-bounce>
    <div class="spinner" *ngIf="!profile">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    <div class="split-custom-top" *ngIf="profile">
        <div class="user-details">
            <ion-row class="user-main-data-row">
                <ion-col no-padding width-20>
                    <preload-image class="user-image" [ratio]="{w:0.5, h:0.5}" [(src)]="profile.profile_picture"
                                   alt="profile.username" title="profile.username"></preload-image>
                </ion-col>
                <ion-col no-padding>
                    <ion-row wrap class="user-bio-row">
                        <ion-col no-padding>
                            <h2 class="user-name">{{profile.username}}</h2>
                        </ion-col>
                    </ion-row>
                    <ion-row class="social-presence-row">
                        <ion-col width-33 class="social-presence-item">
                            <a (click)="goToFollowersList()">
                                <h2 class="social-presence-value">{{profile.followers}}</h2>
                                <h4 class="social-presence-title">{{'FOLLOWERS' | translate }}</h4>
                            </a>
                        </ion-col>
                        <ion-col width-33 class="social-presence-item">
                            <a (click)="goToFollowingList()">
                                <h2 class="social-presence-value">{{profile.following}}</h2>
                                <h4 class="social-presence-title">{{'FOLLOWING' | translate }}</h4>
                            </a>
                        </ion-col>
                        <ion-col width-33 class="social-presence-item">
                            <a>
                                <h2 class="social-presence-value">{{profile.number_of_mimics}}</h2>
                                <h4 class="social-presence-title">Mimics</h4>
                            </a>
                        </ion-col>
                    </ion-row>
                    <ion-row class="profile-action-row" *ngIf="userId">
                        <ion-col no-padding>
                            <button ion-button block small (click)="follow()">
                                <span *ngIf="profile.i_am_following_you == false">Follow</span>
                                <span *ngIf="profile.i_am_following_you == true">Unfollow</span>
                            </button>
                        </ion-col>
                    </ion-row>
                    <!--<ion-row class="profile-action-row">
                        <ion-col no-padding>
                            <button ion-button block small (click)="goToSettings()">
                                {{'EDIT_PROFILE' | translate}}
                            </button>
                        </ion-col>
                    </ion-row>-->

                </ion-col>
            </ion-row>
            <ion-row wrap class="user-bio-row">
                <ion-col no-padding>
                </ion-col>
            </ion-row>
            <!--<ion-row wrap class="user-bio-row">
                <ion-col no-padding width-50>
                    <h2 class="user-name">{{profile.username}}</h2>
                </ion-col>
                <ion-col no-padding width-50>
                    <span class="user-location">Location</span>
                </ion-col>
                <ion-col no-padding width-100>
                    <p class="user-description">
                        ABOUT
                    </p>
                </ion-col>
            </ion-row>-->
            <ion-segment class="user-content-segment" [(ngModel)]="display" (ionChange)="onSegmentChanged($event)">
                <ion-segment-button value="original" (ionSelect)="onSegmentSelected($event)">
                    Mimics
                </ion-segment-button>
                <ion-segment-button value="response" (ionSelect)="onSegmentSelected($event)">
                    Responses
                </ion-segment-button>
            </ion-segment>
        </div>
    </div>

    <div class="split-custom-bottom">
        <ion-scroll scrollY="true" style="height:100%">
            <div [ngSwitch]="display" class="user-content">
                <div *ngSwitchCase="'original'" class="grid-view">
                    <ion-row wrap class="grid-row" *ngIf="mimics && mimics.length > 0">
                        <ion-col width-33 class="grid-item" *ngFor="let mimic of mimics; let i = index;">
                            <preload-image [ratio]="{w:1, h:1}" (click)="presentActionSheet('original', mimic, i)"
                                           [src]="mimic.file_url" *ngIf="mimic.mimic_type == 'picture'"
                                           class="square-image"></preload-image>
                            <div class="video-placeholder"> 
                                <preload-image [ratio]="{w:1, h:1}" (click)="presentActionSheet('original', mimic, i)" [src]="mimic.video_thumb_url" *ngIf="mimic.mimic_type == 'video'" class="square-image"></preload-image>
                           </div>
                        </ion-col>
                    </ion-row>
                    <ion-row wrap class="grid-row" *ngIf="mimics.length == 0">
                        <p class="no-mimics">
                            NO MIMICS
                        </p>
                    </ion-row>
                </div>
                <div *ngSwitchCase="'response'" class="grid-view">
                    <ion-row wrap class="grid-row" *ngIf="responses && responses.length > 0">
                        <ion-col width-33 class="grid-item" *ngFor="let mimic of responses; let i = index;">
                            <preload-image [ratio]="{w:1, h:1}" (click)="presentActionSheet('response', mimic, i)"
                                           [src]="mimic.file_url" *ngIf="mimic.mimic_type == 'picture'"
                                           class="square-image"></preload-image>
                            <div class="video-placeholder">                
                                <preload-image [ratio]="{w:1, h:1}" (click)="presentActionSheet('response', mimic, i)" [src]="mimic.video_thumb_url" *ngIf="mimic.mimic_type == 'video'" class="square-image"></preload-image>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row wrap class="grid-row" *ngIf="responses.length == 0">
                        <p class="no-mimics">
                            NO RESPONSES
                        </p>
                    </ion-row>
                </div>
            </div>
        </ion-scroll>
    </div>
</ion-content>
