//-----------------------MIXINS AND FUNCTIONS------------------------
//VIDEO
$player-controls-height: 40px;
$player-play-icon-height: 4rem;
$playlist-item-font-size: 12px;
$playlist-item-play-icon-height: 3rem;

@mixin play-icon-styles($background, $size, $color) {
  &:before, &:hover, &:active, &:link, &:visited {
    font-family: "Ionicons";
    // As the play arrow ('\f487' in Ionicons font) is a weird shape, we need to use a hack to visually center horizontally.
    // We are going to prepend the 1/6 of em unicode ('\2006'). More info here: (http://www.cs.tut.fi/~jkorpela/chars/spaces.html)
    content: "\2006\f487";
    color: color($colors, mimic, base);
    background: rgba($background, .8);
    font-size: $size - 1;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
    border-radius: 50%;
  }
}
//VIDEO

@function top-mimic-info-position() {
  $sixteen-nine-percent: ((9 / 16) * 100);
  $left: 100 - $sixteen-nine-percent;
  @return ($left / 4)+%; //Sanja's formula
}

@function bottom-mimic-info-position() {
  $sixteen-nine-percent: ((9 / 16) * 100);
  $left: 100 - $sixteen-nine-percent;
  @return ($left / 4)+%; //Sanja's formula
}

@function slides-height() {
  @return calc(100vw * 9 / 16);
}
//-----------------------MIXINS AND FUNCTIONS------------------------


//SPLIT SCREEN LAYOUT
.split {
  height: 50%;
}

.split-vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hr.split-line {
  display: block;
  border: 0;
  border-top: 1px solid white;
  padding: 0;
  margin: 0;
  width: 600%;
  margin-left: -300%;
  background: white;
  position: absolute;
}

.content {
  background-color: color($colors, mimic, base);
}

//SQUARE IMAGES
.square-image {
  width: 100%;
  height: 100%;
  img {
    object-fit: cover;
  }
}

//SPINNER
.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
