// Common list styles can be found in "./common.styles/layouts/lists"
search-page {

  .list-mini-content {
    background-color: color($colors, mimic, base);

    .list-mini {
      @include layout-list-styles($theme-color-2, $white-d);

      ion-list {

        .list-item {
          background-color: color($colors, mimic, base);
          box-shadow: inset 0 -0.5px 0 0 white;
          .content-row {
            .item-title {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: white;
            }

            &.one-line {
              @include align-items(center);

              .item-description {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
