<ion-header>
    <ion-navbar>
        <ion-title>Search</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="list-mini-content">
    <ion-searchbar
            [(ngModel)]="myInput"
            [showCancelButton]="true"
            (ionInput)="onInput($event)"
            (ionCancel)="onCancel($event)"
            placeholder="Search for @username or #hashtag">
    </ion-searchbar>
    <div class="list-mini">
        <ion-list>
            <button class="list-item" ion-item detail-none *ngFor="let item of list2.items; let i = index">
                <ion-row no-padding class="content-row one-line">
                    <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
                    <ion-avatar item-left>
                        <preload-image *ngIf="i%2==0" class="avatar-image" [ratio]="{w:1, h:1}"
                                       [src]="item.image"></preload-image>
                        <preload-image *ngIf="i%2!=0" class="avatar-image" [ratio]="{w:1, h:1}"
                                       src="./assets/images/hashtag.png"></preload-image>
                    </ion-avatar>
                    <ion-col no-padding width-72 class="item-content">
                        <h3 class="item-title">{{item.name}}</h3>

                        <p class="item-description">{{item.description}}</p>
                    </ion-col>
                </ion-row>
            </button>
        </ion-list>
    </div>
</ion-content>
