<ion-header>
    <ion-navbar>
        <ion-title><span *ngIf="type == 'followers'">Followers</span><span *ngIf="type == 'following'">Following</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="followers-content">
    <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
    <!--<ion-searchbar placeholder="Search"></ion-searchbar>-->
    <ion-list class="followers-list">
        <ion-item class="list-item" *ngFor="let user of users">
            <ion-thumbnail item-left (click)="openUserProfile(user.id)">
                <preload-image [ratio]="{w:1, h:1}" [src]="user.profile_picture" alt="user.username"
                               title="user.username"></preload-image>
            </ion-thumbnail>
            <h2 class="item-title" (click)="openUserProfile(user.id)">{{user.username}}</h2>

            <p class="item-description" rows="2">Followers: {{user.followers}} | Following: {{user.following}}</p>
            <!--<button class="relation-button" [ngClass]="{following: true}" ion-button clear icon-only
                    item-right>
                <ion-icon *ngIf="item.inverse_relation" name="person-add"></ion-icon>
                <ion-icon *ngIf="!item.inverse_relation" name="checkmark"></ion-icon>
                <ion-icon name="person-add"></ion-icon>
            </button>-->
        </ion-item>
    </ion-list>
</ion-content>
